<div class="container-fluid p-0" style="width: 98%;">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3" style="width: 150px;">
        <button type="button" class="btn btn-primary createUserButton" (click)="openModal(createusertemplate)">
          <i class="feather icon-user-plus"></i> Create user
        </button>
      </div>
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <h4 class="mb-2 fw-bolder">Users List</h4>
        <div class="mb-2">
          <input type="text" class="form-control mb-3" placeholder="Search user by name"
            (keyup)="updateFilter($event)"/>
        </div>
      </div>
      <div class="table-responsive">
        <ngx-datatable #table [rows]="users" [columnMode]="columnMode" [headerHeight]="50" [footerHeight]="50"
          [limit]="10" [selected]="selected" [selectionType]="SelectionType.checkbox" (activate)="onActivate($event)"
          (select)="onSelect($event)" [rowHeight]="rowHeight" [scrollbarH]="scrollbarH">
          <ngx-datatable-column name="Name" [width]="100">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <avatar [size]="38" [src]="row['img']"></avatar>
                <div class="ms-2">
                  <div class="text-dark fw-bold">{{row['firstName']}} {{row['lastName']}}</div>
                  <div class="text-muted">{{row['email']}}</div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="No of brands" [width]="50">
            <ng-template let-row="row" class="" let-value="value" ngx-datatable-cell-template>
              <div>
                <div class="brandsLength fw-bold">{{row['brands'].length}}</div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="View" [sortable]="false" [width]="10">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <button type="button" class="btn btn-primary" (click)="viewUserModal(row, viewtemplate)">
                View
              </button>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="View" [sortable]="false" [width]="10">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center"
                [ngClass]="row['status'] === 'active'? 'text-success': 'text-danger'">
                <span class="text-capitalize">
                  <button type="button" class="btn btn-primary" (click)="viewUserModal(row, viewtemplate)">
                    View
                  </button>
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Update" [sortable]="false" [width]="10">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center"
                [ngClass]="row['status'] === 'active'? 'text-success': 'text-danger'">
                <span class="text-capitalize">
                  <button type="button" class="btn btn-primary" (click)="updateUserModal(row, updatetemplate)">
                    Update
                  </button>
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Delete" [sortable]="false" [width]="30">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a dropdownItem href="javascript:void(0)">
                <div class="d-flex align-items-center" (click)="deleteUser(row)">
                  <i class="feather icon-trash-2"></i>
                  <span class="ms-1" *ngIf="selected.length > 0">({{selected.length}})</span>
                </div>
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Activate/<br>Deactivate" [sortable]="false" cellClass="allow-overflow" [width]="40">
            <ng-template let-row="row" let-value="row['isActive']" ngx-datatable-cell-template>
              <switch name="basicSwitch" [(ngModel)]="row.isActive" [checked]="row.isActive" (onChange)="toggleUser($event, row)"></switch>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>


<ng-template #viewtemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">View User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Firstname: {{viewUserDetails.firstName}}</h6>
    <h6>Lastname: {{viewUserDetails.lastName}}</h6>
    <h6>Email: {{viewUserDetails.email}}</h6>
    <h6>Brands:</h6>
    <div *ngFor="let userDetail of viewUserDetails.brands">
        <span> {{userDetail.name}}</span>
    </div>
  <button type="button" class="btn btn-primary mt-3" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

<ng-template #updatetemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="user">
    <form>
      <div class="form-group mb-3">
        <label class="form-label">Firstname</label>
        <input type="text" class="form-control no-validation-icon no-success-validation" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Lastname</label>
        <input type="text" class="form-control no-validation-icon no-success-validation" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control no-validation-icon no-success-validation" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
      </div>
      <!-- <div class="form-group mb-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control no-validation-icon no-success-validation" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
      </div> -->
      <button type="button" class="btn btn-primary"
        (click)="updateUserDetails(user, updatetemplate)">Update</button>
    </form>
  </div>
</ng-template>


<ng-template #createusertemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (validSubmit)="createUser()">
      <div class="form-group mb-3">
        <label class="form-label">Firstname</label>
        <input type="text" class="form-control no-validation-icon no-success-validation" formControlName="firstname">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Lastname</label>
        <input type="text" class="form-control no-validation-icon no-success-validation" formControlName="lastname">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control no-validation-icon no-success-validation" formControlName="email">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control no-validation-icon no-success-validation" formControlName="password">
      </div>
      <button class="btn btn-primary d-block" type="button" (click)="createUser(createusertemplate)">Register</button>
    </form>

  </div>

</ng-template>
