<div>
  <div class="row mb-3" style="width: 152px;">
    <button type="button" class="btn btn-primary createBrandButton" (click)="openCuisineModal(cuisineModal)">
      <i class="feather icon-user-plus"></i> Create brand
    </button>
  </div>



  <!-- <div *ngIf="allBrands.length != 0" class="row brand-card">
    <div class="col-md-5">
      <div class="brandcard-body">
        <div class="d-flex align-items-center justify-content-between">
          <h4>Brands</h4>
        </div>
        <div>
          <perfect-scrollbar style="overflow-y: auto; height: 365px;">
          <div class="my-3" *ngFor="let brands of allBrands">
            <div class="d-flex pe-3 row">
              <div class="mt-1 col-2">
                <img class="userBrandImage" src="../../../../assets/images/cuisines/Indian.jpg" alt="component on github" />
              </div>
              <div class="col-5 mb-2 justify-content-between align-items-center">
                <div>
                  <div class="fw-bolder text-dark">{{brands.brand.name}}</div>
                  <div class="text-muted fw-semibold">No of products: {{brands.products.length}}</div>
                  <button class="btn btn-primary col-6 mt-3" (click)="openBrandDetailsModal(brands, viewBrandDetailsModal)">View</button>
                </div>
              </div>
              <div class="col-5 mb-2 justify-content-between align-items-center">
                <div>
                  <p class="mb-1">Activate/Deactivate</p>
                  <switch name="basicSwitch" [(ngModel)]="brands.isActive" [checked]="brands.isActive" (onChange)="toggleUser($event, brands._id)"></switch>
                  <button class="btn btn-primary col-6 mt-1" (click)="openUpdateBrandDetailsModal(brands, viewUpdateBrandDetailsModal)">Update</button>
                </div>
              </div>
            </div>
            <hr>
          </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row card-group">
    <div class="col-3 card-mobile col-md-4 col-sm-6 col-xs-12" *ngFor="let brands of allBrands">
      <div class="card">
        <img class="card-img-top mx-auto mt-1" src="../../../../assets/images/cuisines/Indian.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{brands.brand.name}}</h5>
        </div>
        <div class="row">
          <div class="col-8">
            <li class="list-group-item">Activate/<br>deactivate</li>
          </div>
          <div class="col-4">
            <li class="list-group-item">
              <switch name="basicSwitch" [(ngModel)]="brands.isActive" [checked]="brands.isActive"
                (onChange)="toggleUser($event, brands._id)"></switch>
            </li>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <li class="list-group-item">Total products</li>
          </div>
          <div class="col-4">
            <li class="list-group-item">{{brands.products.length}}</li>
          </div>
        </div>
        <div class="card-body row text-center">
          <div class="col-6">
            <button class="btn btn-primary mt-3 text-center"
              (click)="openBrandDetailsModal(brands, viewBrandDetailsModal)">View</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary mt-3 text-center"
              (click)="openUpdateBrandDetailsModal(brands, viewUpdateBrandDetailsModal)">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>

<ng-template #cuisineModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select cuisine</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="formGroup">
          <div class="form-group mb-3">

            <!-- <label class="form-label">Cuisines</label> -->
            <!-- <ng-select [items]="options" bindLabel="name" bindValue="_id" labelForId="age" placeholder="Select cuisines"
              formControlName="Age" (change)="cuisineValue(selection)" [(ngModel)]="selection">
            </ng-select> -->

            <label class="form-label">Cuisines</label>
            <ng-select [items]="options" [(ngModel)]="selection" bindLabel="name" labelForId="age"
              placeholder="Select cuisines" bindValue="_id" formControlName="Age" (change)="cuisineValue(selection)">
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div *ngIf="item.name === 'Kaunas'">{{item.name}}</div>
                <div style="margin: 10px 0;" class="card" *ngIf="item.name !== 'Kaunas'">
                  <div class="card-body">
                    <h5 class="card-title" [ngOptionHighlight]="search">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                      <img height="15" width="15" src="../../../../assets/images/cuisines/{{item.name}}.jpg" />
                      Some quick example text to build
                    </p>
                    <div *ngIf="item.name === 'Pavilnys'">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>

          </div>
          <button class="btn btn-primary" type="submit" (click)="modalRef.hide(cuisineModal)"
            (click)="openBrandModal(brandModal)">Next</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #brandModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select brand</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="formGroup">
          <div class="form-group mb-3">
            <!-- <label class="form-label">Brands</label>
            <ng-select [items]="options" class="custom" bindLabel="name" bindValue="_id" labelForId="age" placeholder="Select brands"
              formControlName="Age" (change)="brandValue(selection)" [(ngModel)]="selection">
              <span>
                test description
              </span>
            </ng-select> -->

            <label class="form-label">Brands</label>
            <ng-select [items]="options" class="custom" [(ngModel)]="selection" bindLabel="name" bindValue="_id"
              placeholder="Select brands" formControlName="Age" (change)="brandValue(selection)">
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div *ngIf="item.name === 'Kaunas'">{{item.name}}</div>
                <div style="margin: 10px 0;" class="card" *ngIf="item.name !== 'Kaunas'">
                  <div class="card-body">
                    <h5 class="card-title" [ngOptionHighlight]="search">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                      <img height="15" width="15" src="../../../../assets/images/cuisines/Indian.jpg" />
                      Some quick example text to build
                    </p>
                    <div *ngIf="item.name === 'Pavilnys'">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <button class="btn btn btn-light me-2" type="button" (click)="modalRef.hide(brandModal)"
            (click)="openCuisineModal(cuisineModal)">Back</button>
          <button class="btn btn-primary" type="submit" (click)="modalRef.hide(brandModal)"
            (click)="openProductsModal(productsModal)">Next</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #productsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select Products</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="formGroup">
          <div class="form-check" *ngFor="let option of options">
            <label class="form-check-label  checkbox-box">
              <input class="form-check-input product-checkbox" type="checkbox" (change)="testProducts($event, option)">
              <div class="product-text">
                <span class="checkbox-label">{{option.name}}</span><br>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form</p>
              </div>
              <img class="mt-1" height="15" width="15" src="../../../../assets/images/cuisines/Indian.jpg" />
              <br>
            </label><br><br>
          </div>
          <button class="btn btn btn-light me-2" type="button" (click)="modalRef.hide(productsModal)"
            (click)="openBrandModal(brandModal)">Back</button>
          <button class="btn btn-primary" type="submit" (click)="modalRef.hide(productsModal)"
            (click)="createBrand()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>









<!-- <ng-template #viewBrandModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">View brand</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="formGroup">
                <div class="form-group mb-3">
                    <label class="form-label">Brands</label>
                    <ng-select [items]="options"
                       bindLabel="name"
                       bindValue="_id"
                       labelForId="age"
                       placeholder="Select brands"
                       formControlName="Age"
                       (change)="brandValue(selection)"
                       [(ngModel)]="selection">
                    </ng-select>
                </div>
                <button class="btn btn btn-light me-2" type="button" (click)="modalRef.hide(brandModal)" (click)="openCuisineModal(cuisineModal)">Back</button>
                <button class="btn btn-primary" type="submit" (click)="modalRef.hide(brandModal)" (click)="openProductsModal(productsModal)">Next</button>
            </form>
        </div>
    </div>
    </div>
</ng-template> -->



<ng-template #viewBrandDetailsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Brand details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <h6>Brandname: {{options.brand.name}}</h6>
        <h6>Products:</h6>
        <div *ngFor="let option of options.product">
          <span> {{option.name}}</span>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mt-3" type="submit" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>




<ng-template #viewUpdateBrandDetailsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select brand</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="formGroup">
          <div class="form-check" *ngFor="let option of options">
            <label class="form-check-label checkbox-box">
              <input class="form-check-input product-checkbox" type="checkbox" (change)="testProducts($event, option)" [checked]="option.isChecked">
              <div class="product-text">
                <span class="checkbox-label"> {{option.name}}</span>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form</p>
              </div>
              <img class="mt-1" height="15" width="15" src="../../../../assets/images/cuisines/Indian.jpg" />
            </label><br><br>

          </div>
          <button class="btn btn btn-light me-2" type="button" (click)="modalRef.hide(productsModal)"
            (click)="openBrandModal(brandModal)">Back</button>
          <button class="btn btn-primary" type="submit" (click)="modalRef.hide(productsModal)"
            (click)="updateBrand()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>